<% nickname = current_user.present? ? current_user.username : 'Stranger' %>
<h1>Welcome, <%= nickname %> </h1>
 
<% @posts.each do |post| %>
  <p><%= post.message %></p> 
  <p><% user = User.find_by(id: post.user_id) %></p>
  <p><%= session[:username] %> </p>
  <p><%= post.created_at %></p>


<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
